*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poetsen One";
  width: 98vw;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: start;
  color: white;
  margin-top: 10px;
  background-image: url("./pexels-freestockpro-1227513.jpg");
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
  align-items: center;
}
button {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5vw;
  border: none;
  color: black;
  font-family: "Poetsen One";
  padding: 1vw;
  font-size: large;
  margin: 1vw;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  cursor: pointer;
}
button:hover {
  background-color: rgba(159, 232, 15, 0.6);
  color: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}
input {
  width: 90%;
  cursor: pointer;
  border-radius: 5vw;
  padding: 1vw;
  font-size: large;
  outline: none;
  border: none;
  font-family: "Courier New", Courier, monospace;
}
.title {
  font-size: 5vw;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
  font-family: "Courier New", Courier, monospace;
}
.search {
  width: 70vw;
  min-height: 8vh;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  color: whitesmoke;
}
.current {
  width: 50vw;
  min-height: 15vh;
  border: 1px solid black;
  font-weight: bolder;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
  flex-direction: column;
  font-family: "Courier New", Courier, monospace;
  color: rgba(0, 0, 0, 0.9);
  background-color: rgba(255, 255, 255, 0.522);
}
.week {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.day {
  width: 15vw;
  min-height: 15vh;
  border: 1px solid black;
  font-weight: bolder;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
  flex-direction: column;
  font-family: "Courier New", Courier, monospace;
  color: rgba(0, 0, 0, 0.9);
  background-color: rgba(255, 255, 255, 0.522);
}
.box {
  width: 70vw;
  min-height: 15vh;
  border: 1px solid black;
  font-weight: bolder;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
  flex-direction: column;
  font-family: "Courier New", Courier, monospace;
  color: rgba(0, 0, 0, 0.9);
  background-color: rgba(255, 255, 255, 0.522);
  cursor: pointer;
}
